In [ ]:
a = 124
b = 123.456
c = 'Python'

#print(a)
#print(b)
#print(c)

#print('a=',a)
#print('b=',b)
#print('c=',c)

#print(a, end = ' ')
#print(b, end = ' ')
#print(c)

print(format(a,'5d'))
print(format(b,'10.2f'))
print(format(c,'10s'))
print()

#print(format(a,'<5d'))
#print(format(b,'>10.2f'))
#print(format(c,'>10s'))

print('|%5d|'%a)
print('|%10.2f|'%b)
print('|%10s|'%c)
print('|%-10s|'%c)

print(format(a,'5d'))
print(format(a,'5x'))
print(format(a,'5o'))
print(format(a,'5b'))

  124
    123.46
Python

|  124|
|    123.46|
|    Python|
|Python    |
  124
   7c
  174
1111100
  124     123.46     Python

In [ ]:
x=123
y=123456
z=12

print(format('%8d'%x),format('%8d'%y),format('%8d'%z))
print('%8d %8d %8d' %(x,y,z))

     123   123456       12
     123   123456       12